// @import "variables";

/********************************** Footer **********************************/
footer {
  background-color: $black-color !important;
  color: $white-color !important;

  text-align: center;
  padding: 30px 10px 10px;
}
.Sec1 {
  color: $white-color !important;
}

footer p {
  margin: 0;
  color: $white-color !important;
}

footer h6 {
  margin: 0;
  color: $white-color !important;
}

footer i {
  margin: 0;
}
footer a {
  color: $white-color;
  font-weight: 400;
}
footer a:hover {
  color: $white-color;
  font-weight: 600;
}
.text-uppercase {
  font-size: 1.5rem;
}
.text-reset {
  font-size: 1.3rem;
}
// footer img {
//     width: 30px;
//     filter: brightness(100);
//     margin-bottom: 60px;

//     margin-inline-end: 0.5rem;
//     &:nth-child(2) {
//         margin-inline-end: 0rem;
//     }
// }

// .follow-us {
//     margin-bottom: 0.5rem;
// }
