// @import "variables";

/********************************** Footer **********************************/
footer {
  background-color: $black-color;
  color: $white-color !important;

  text-align: center;
  padding: 30px 10px 10px;
}
.Sec1 {
  color: $white-color !important;
}
// footer img {
//     width: 30px;
//     filter: brightness(100);
//     margin-bottom: 60px;

//     margin-inline-end: 0.5rem;
//     &:nth-child(2) {
//         margin-inline-end: 0rem;
//     }
// }

// footer p {
//     margin: 0;
// }

// .follow-us {
//     margin-bottom: 0.5rem;
// }
