// @import '../abstracts/variables';

#freeShippingBar {
    text-align: center;
    background-color: $red-color;
    color: $white-color;
    padding: 0;
    h1 {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem;
        letter-spacing: 0.2rem;

        @include baby-bear {
            font-size: 0.7rem;
        }
    }

    h2{
        font-family: "Poppins", sans-serif !important;
    }
}
