@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css");
@import url("https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css");
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: auto;
}

*:active {
  outline: none;
}

.App {
  text-align: center;
}

h1 {
  color: #303030;
  margin-top: 2rem !important;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

#header-main {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 25;
  background-color: #c3dd94;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
}

.website-icon {
  border-radius: 100%;
}

html,
body {
  text-align: left;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0 !important;
  overflow: initial;
  word-break: normal;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 600px) {
  html,
  body {
    text-align: center;
  }
}

.padding-body-zero {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.modal img {
  text-align: center;
  margin: auto;
  height: 80% !important;
  width: 100% !important;
}
.modal button {
  color: #604118 !important;
}
.modal .ok-modal {
  color: #f6f6f6 !important;
}
.modal .ok-modal:hover {
  color: #604118 !important;
}

#msg-arrow {
  width: 8rem !important;
}

.titles {
  margin: 0% auto 5%;
}
@media (max-width: 900px) {
  .titles {
    padding: 0;
  }
}
.titles h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 4% 27% auto;
  line-height: 1.5;
}
@media (max-width: 900px) {
  .titles h1 {
    font-size: 2.5rem;
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .titles h1 {
    font-size: 1.8rem;
    width: 80%;
    margin: auto;
  }
}

.container {
  text-align: left;
}
.container th {
  font-size: 1rem;
}

/********************************** Navigation Bar **********************************/
.img-circle {
  text-align: center;
  margin: auto;
  height: 75px;
  margin-right: 0%;
}

nav {
  box-shadow: 5px 3px 40px gray;
  position: sticky !important;
}

.navbar {
  position: sticky !important;
}

.navbar p {
  font-family: "Rock 3D", cursive;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-item a:hover {
  font-weight: 600;
  opacity: 80%;
}

.navbar-collapse ul {
  position: absolute;
  right: 1rem;
}
@media (max-width: 900px) {
  .navbar-collapse ul {
    position: static;
  }
}

/********************************** Footer **********************************/
footer {
  background-color: #303030 !important;
  color: #f6f6f6 !important;
  text-align: center;
  padding: 30px 10px 10px;
}

.Sec1 {
  color: #f6f6f6 !important;
}

footer p {
  margin: 0;
  color: #f6f6f6 !important;
}

footer h6 {
  margin: 0;
  color: #f6f6f6 !important;
}

footer i {
  margin: 0;
}

footer a {
  color: #f6f6f6;
  font-weight: 400;
}

footer a:hover {
  color: #f6f6f6;
  font-weight: 600;
}

.text-uppercase {
  font-size: 1.5rem;
}

.text-reset {
  font-size: 1.3rem;
}

.btn {
  color: #c3dd94;
  border: 3px solid #604118;
  border-radius: 20px !important;
  font-weight: 900;
  background-color: #604118;
  margin: 1rem;
}
.btn:hover {
  color: #604118;
  background-color: #c3dd94;
}

.btn-greenBackgrounded:hover {
  background-color: #c3dd94;
}

.btn-yellowBackgrounded {
  color: #fffae0;
}
.btn-yellowBackgrounded:hover {
  background-color: #fffae0;
}

.btn-whiteBackgrounded {
  color: #f6f6f6;
}
.btn-whiteBackgrounded:hover {
  background-color: #f6f6f6;
}

.order-now-btn-nav {
  font-size: 11px !important;
}
@media (max-width: 600px) {
  .order-now-btn-nav {
    font-size: 0.5rem !important;
  }
}

.checkout-btn {
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
  width: 200px;
  height: 35px;
  border: none;
  color: #f6f6f6;
  border-radius: 5px;
  background-color: #97ce68;
  margin: 3% auto 1%;
  font-size: 1.5rem !important;
}
.checkout-btn:hover {
  background-color: #c3dd94;
}
.checkout-btn:active {
  background-color: #c3dd94;
}

.btn-add {
  background: #97ce68;
  border-radius: 20px !important;
  padding: 8px 6px;
  color: white;
  font-weight: 500;
  font-size: 0.7rem !important;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.btn-remove {
  background: transparent;
  border: none !important;
  color: #303030;
  text-decoration: underline;
  font-weight: 500;
  font-size: 0.7rem !important;
  opacity: 70%;
}

.btn-add-cart {
  background-color: white;
  border: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.btn-remove-cart {
  background-color: white;
  border: none;
  -webkit-padding-end: 0px;
          padding-inline-end: 0px;
}

.applyBtn {
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
  width: 200px;
  height: 35px;
  border: none;
  color: #f6f6f6;
  border-radius: 5px;
  background-color: #97ce68;
  margin: 3% auto 1%;
  font-size: 1.5rem !important;
}
.applyBtn:hover {
  background-color: #c3dd94;
}
.applyBtn:active {
  background-color: #c3dd94;
}

.removeApplyBtn {
  border: 0px;
  color: red;
  background-color: transparent;
  padding: 0px;
  text-decoration: underline;
  margin: auto auto 1rem auto;
}

.generated-link {
  color: "black";
}

.rounded {
  width: 100%;
}

.logo-img {
  border-radius: 100%;
  width: 3rem;
}
@media (min-width: 1200px) {
  .logo-img {
    width: 4rem;
  }
}
@media (max-width: 600px) {
  .logo-img {
    width: 3rem;
  }
}

.logo-title {
  color: #604118;
  font-size: 1.5rem;
  text-align: left;
  font-family: "Selly Calligraphy", sans-serif;
}
@media (max-width: 600px) {
  .logo-title {
    font-size: 1.1rem;
    text-align: left;
  }
}

.logo-slogan {
  color: #604118;
  font-size: 5.2rem;
  opacity: 60%;
}
@media (max-width: 600px) {
  .logo-slogan {
    font-size: 0.8rem;
  }
}

td {
  padding-left: 0.5rem;
  margin: auto;
  text-align: left;
}
td h1 {
  height: 30px;
  font-size: 1rem;
}
@media (max-width: 600px) {
  td h1 {
    height: 20px;
    margin-top: auto;
  }
}

.titles h1 {
  font-size: 1.8rem;
  width: 100%;
  margin: 2rem auto;
}

.mt-3 {
  color: #303030;
}

.o-dot {
  position: absolute;
  display: block;
  min-width: 20px;
  min-height: 20px;
  inset-block-start: 30%;
  inset-inline-start: 50%;
  margin: -8px 0 0 -8px;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition: all 0.25s ease-in-out;
  animation: 1.4s ease-in-out infinite;
}
@media (max-width: 600px) {
  .o-dot {
    transform: scale(1);
  }
  .o-dot:hover {
    transform: scale(1.2);
  }
}
.o-dot:after {
  position: absolute;
  content: "";
  min-width: 40px;
  min-height: 40px;
  inset-inline-start: -10px;
  inset-block-start: -10px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
}
.o-dot:hover {
  transform: scale(1.5);
}

.o-dot-offer-img-1 {
  inset-block-start: 38%;
  inset-inline-start: 32%;
}

.o-dot-offer-img-2 {
  inset-block-start: 52%;
  inset-inline-start: 63%;
}

.o-dot-offer-img-3 {
  inset-block-start: 38%;
  inset-inline-start: 67%;
}

#go-to-top {
  background-position: center;
  border-radius: 100%;
  padding: 1.2rem;
  background-color: #f6f6f6;
  right: 40px;
  bottom: 160px;
  cursor: pointer;
  position: fixed;
  z-index: 20;
  background-size: 60%;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.loader {
  position: absolute;
  border: 16px solid #ddd;
  border-radius: 50%;
  -webkit-border-before: 16px solid #c3dd94;
          border-block-start: 16px solid #c3dd94;
  -webkit-padding-after: 16px solid #c3dd94;
          padding-block-end: 16px solid #c3dd94;
  max-inline-size: 120px;
  max-block-size: 120px;
  margin: 0;
  inset-block-start: 50%;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.checkout-steps {
  background-color: #97ce68;
  color: #303030;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.checkout-steps .dropdown {
  background-color: #97ce68;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 0.5px #604118;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:active {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:active .checkout-steps {
  background-color: #3e8e41;
}

.height-300 {
  max-height: 300px;
  align-items: center;
  align-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: gray;
}

.home-paragraph {
  width: 50%;
  font-weight: 500;
  opacity: 80%;
  color: #303030;
  font-size: 1.2rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.line-separated {
  width: 10%;
  border: 10px dotted;
  border-style: none none dotted;
  color: grey;
  margin: 1.5rem auto;
}

.centering {
  max-width: 550px;
  margin: auto;
}

.size {
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.progressBar {
  width: 50%;
  margin: auto;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}

.project-name-title {
  height: 2rem;
  margin: 1rem 0 2rem;
}

.upload-section {
  width: 50%;
  margin: auto !important;
  border: 1px solid black;
  border-style: dashed;
  border-width: 4px;
  opacity: 90%;
}

.upload-section p {
  margin-top: 0px;
}

.upload-section input {
  margin-bottom: 0px;
}

.upload-section * {
  margin: 1rem;
}

.input-div p {
  margin: 0;
  opacity: 70%;
  display: inline-block;
}

.btn a {
  color: black;
}

.btn a:hover {
  color: white;
}

.fileBox {
  width: auto;
  padding: 3rem;
  text-align: -webkit-center;
}

.fileName {
  text-align: left;
  height: 2rem;
  margin: 1rem;
}
@media (max-width: 900px) {
  .fileName {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .fileName {
    font-size: 0.7rem;
  }
}

.fileName p {
  opacity: 70%;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0.5rem;
}
@media (max-width: 900px) {
  .fileName p {
    font-size: 0.4rem;
  }
}
@media (max-width: 600px) {
  .fileName p {
    font-size: 0.3rem;
  }
}

.fileBox .container {
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .fileBox .container {
    width: 1120px;
  }
}

.fileBox .navbar-brand {
  margin-left: auto;
}

.fileBox button {
  border: 0;
  margin: 0.5rem;
}

.fileShown {
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
  width: auto;
}
@media (min-width: 1200px) {
  .fileShown {
    width: 1120px;
  }
}

.projects-section {
  padding: 2rem;
}

.profile-setting-section {
  padding: 2rem;
  text-align: center;
}

.sub-section-profile {
  background-color: #303030;
  color: #f6f6f6;
  text-align: left;
  margin: 2rem auto 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 20px black;
  font-size: 1.2rem;
  display: grid;
  -moz-columns: 1rem;
       columns: 1rem;
}

.sub-section-profile-header {
  font-weight: 700;
  text-align: center;
}

.item-profile {
  margin: 0.7rem;
  padding: 0.5rem;
  font-weight: 600;
}

.item-profile input {
  border-radius: 10px;
  padding: 0.5rem;
  border: 0px;
  box-shadow: 2px 3px 10px black;
  margin-top: 0.5rem;
  background-color: color-mix(in srgb, #303030 90%, black 30%);
  color: #f6f6f6;
}

.password-requirements {
  opacity: 60%;
}

.about-paragraph-section {
  text-align: left;
  padding: 3rem;
}

.about-paragraph-section p {
  font-size: 1.2rem;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */