.height-300 {
  max-height: 300px;
  align-items: center;
  align-content: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: gray;
}
.home-paragraph {
  width: 50%;
  font-weight: 500;
  opacity: 80%;
  font-size: 1.2rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.line-separated {
  width: 10%;
  border: 10px dotted;
  border-style: none none dotted;
  color: grey;
  margin: 1.5rem auto;
}
// .create-uml-button {
//   background-color: #30a2ff;
// }
