.size {
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.progressBar {
  width: 50%;
  margin: auto;
  margin-block-start: 1rem;
}

.project-name-title {
  height: 2rem;
}

.upload-section {
  width: 50%;
  margin: auto !important;
}

.upload-section * {
  margin: 1rem;
}

.btn a {
  color: black;
}

.btn a:hover {
  color: white;
}
.fileBox {
  width: auto;
  padding: 3rem;
  // text-align: center;
}
.fileName {
  text-align: left;
}
.fileBox .container {
  padding: 0;
  margin: 0;
  
  @include papa-bear {
    width: $max-width-fileBox;
  }
}
.fileBox .navbar-brand {
  margin-left: auto;
}

.fileBox button {
  border: 0;
}
.fileShown {
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
  width: auto;

  @include papa-bear {
    width: $max-width-fileBox;
  }
}
