.size {
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.progressBar {
  width: 50%;
  margin: auto;
  margin-block-start: 1rem;
}

.project-name-title {
  height: 2rem;
  margin: 1rem 0 2rem;
}

.upload-section {
  width: 50%;
  margin: auto !important;
  border: 1px solid black;
  border-style: dashed;
  border-width: 4px;
  opacity: 90%;
}
.upload-section p {
  // text-align: left;
  margin-top: 0px;
}
.upload-section input {
  margin-bottom: 0px;
  // text-align: left;
}
.upload-section * {
  margin: 1rem;
}
.input-div p {
  margin: 0;
  opacity: 70%;
  display: inline-block;
}
.btn a {
  color: black;
}

.btn a:hover {
  color: white;
}
.fileBox {
  width: auto;
  padding: 3rem;
  text-align: -webkit-center;
}
.fileName {
  text-align: left;
  height: 2rem;
  margin: 1rem;
  @include mama-bear {
    font-size: 1.1rem;
  }
  @include baby-bear {
    font-size: 0.9rem;
  }
}

.fileName p {
  opacity: 70%;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0.5rem;

  @include mama-bear {
    font-size: 0.8rem;
  }
  @include baby-bear {
    font-size: 0.7rem;
  }
}
.fileBox .container {
  padding: 0;
  margin: 0;

  @include papa-bear {
    width: $max-width-fileBox;
  }
}
.fileBox .navbar-brand {
  margin-left: auto;
}

.fileBox button {
  border: 0;
  margin: 0.5rem;
}
.fileShown {
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
  width: auto;

  @include papa-bear {
    width: $max-width-fileBox;
  }
}
